
ST2PRJ2_F17/.vs/ST2PRJ2_F17/v14/.suo
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

ST2PRJ2_F17/.vs/ST2PRJ2_F17/v15/.suo
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/CoreCompileInputs.cache
ST2PRJ2_F17/ST2PRJ2_F17/bin/Debug/ST2PRJ2_F17.pdb
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/CoreCompileInputs.cache
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/ST2PRJ2_F17.csproj.FileListAbsolute.txt
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/ST2PRJ2_F17.csproj.GenerateResource.Cache
*.suo
*.cache
ST2PRJ2_F17/ST2PRJ2_F17/bin/Debug/ST2PRJ2_F17.exe
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/ST2PRJ2_F17.pdb
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/ST2PRJ2_F17.csprojResolveAssemblyReference.cache
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/ST2PRJ2_F17.exe
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/ST2PRJ2_F17.exe
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/CoreCompileInputs.cache
ST2PRJ2_F17/ST2PRJ2_F17/obj/Debug/Præsentationslag.log_ind.resources
